# Ignore local development directory


# Ignore environment file
app/container-setup/.env

# Optional: ignore Python cache files
__pycache__/
*.pyc

# Optional: ignore IDE or system files
.vscode/
.idea/
.DS_Store
