# Ignore local development directory
app/container-setup/.vscode/
app/container-setup/.venv/
app/UIsetup/.venv/
scripts/.env
scripts/test-db-connection.py
# Ignore environment file
app/container-setup/.env

# Optional: ignore Python cache files
__pycache__/
*.pyc

# Optional: ignore IDE or system files
.vscode/
.idea/
.DS_Store
app/UIsetup/backend/createuser/.env
