apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: adesh0303/nginx-frontend:v0
          ports:
            - containerPort: 80
              protocol: TCP
          # securityContext:
          #   runAsNonRoot: false
          #   runAsUser: 101  # nginx user
          #   allowPrivilegeEscalation: false
          #   capabilities:
          #     drop:
          #       - ALL
          #   readOnlyRootFilesystem: true
          # resources:
          #   requests:
          #     memory: "64Mi"
          #     cpu: "50m"
          #   limits:
          #     memory: "128Mi"
          #     cpu: "200m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          volumeMounts:
            - name: cache
              mountPath: /var/cache/nginx
            - name: run
              mountPath: /var/run
      # securityContext:
      #   runAsNonRoot: true
      #   runAsUser: 101
      #   fsGroup: 101
      #   seccompProfile:
      #     type: RuntimeDefault
      volumes:
        - name: cache
          emptyDir: {}
        - name: run
          emptyDir: {}
      tolerations:
        - key: "userapp"
          operator: "Equal"
          effect: "NoSchedule"
          value: "critical"
