apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: adesh0303/eks-app:frontend
      tolerations:
        - key: "userapp"
          operator: "Equal"
          effect: "NoSchedule"
          value: "critical"
