name: createuser-service CI

on:
  push:
    paths:
      - src/backend/createuser/**
  pull_request:
    paths:
      - src/backend/createuser/**

permissions:
  contents: write

jobs:
  build-phase:
    uses: ./.github/workflows/image-builder.yml
    with:
      image_repo: adesh0303/createuser-service
      dockerfile_path: src/backend/createuser/
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  kustomize:
    needs: build-phase
    uses: ./.github/workflows/update-kustomize.yml
    with:
      service_name: createuser-service
      image_repo: adesh0303/createuser-service
      kustomize_path: k8s/createuser/
