name: frontend service CI

on:
  push:
    paths:
      - src/frontend/**
  pull_request:
    paths:
      - src/frontend/**

permissions:
  contents: write

jobs:
  build-phase:
    uses: ./.github/workflows/image-builder.yml
    with:
      image_repo: adesh0303/nginx-frontend
      dockerfile_path: src/frontend/
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  kustomize:
    needs: build-phase
    uses: ./.github/workflows/update-kustomize.yml
    with:
      service_name: frontend
      image_repo: adesh0303/nginx-frontend
      kustomize_path: k8s/frontend
