name: create-user CI

on:
  push:
    paths:
      - src/backend/createuser/**
  pull_request:
    paths:
      - src/backend/createuser/**

jobs:
  build:
    uses: ./.github/workflows/image-builder.yml
    with:
      image_repo: adesh0303/eks-app
      dockerfile_path: src/backend/createuser/
      service_name: createuser-service
      kustomize_path: k8s/createuser/
