name: create-user CI

on:
  push:
    paths:
      - src/backend/createuser/**
  pull_request:
    paths:
      - src/backend/createuser/**

jobs:
  build-image:
    uses: ./.github/workflows/image-builder.yml
    with:
      image_repo: adesh0303/eks-app
      dockerfile_path: src/backend/createuser/
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  update-kustomize:
    needs: build-image
    uses: ./.github/workflows/update-kustomize.yml
    with:
      service_name: createuser-service
      image_repo: adesh0303/eks-app
      kustomize_path: k8s/createuser/
